<% content_for :head do %>
  <style>
    .form-wrapper input {
        width: 100%;
        height: 60px;
        padding: 10px 5px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 60px;
        width: 20%;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #fed136;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{     
        background: #FF9933;
    }   
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #FF9933;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #fed136 transparent;
        top: 20px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #FF9933;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #fed136;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    .selectday { background-color: #fed136; }
    .selectday:hover, .selectday.darkorange { background-color: #FF9933; }

    </style>

<% end %>

<div class="row">
  <div class="col-lg-12">
    <br>
    <p> 
      Welcome, <%= @customer.email %> ! <br>
      <%= link_to "Change your password", edit_customer_registration_path %>
      <%= button_to "Logout", destroy_customer_session_path, {method: :delete, class: "btn btn-primary pull-right"} %><br>
      
    </p>

    
    <h4><p> Upcoming meal:
        <% if @subscription.upcoming_meal.blank? %> <em>Undetermined yet</em>
        <% else %><%= @subscription.upcoming_meal %>
        <% end %>
    </p></h4>

    <h3> Your subscription </h3>

    

    <% if @subscription %>
        <p> Preferred tracks: 
          
          <% if @preferences.empty? %>
          <em> Unset yet </em>
          <% else %>
              <% @preferences.each do |pref| %>
                <%= pref.track %>,
              <% end %>
            <% end %>
        </p>
        <p> Lunches: 
            <% if @lunches.blank? %> <em>None ordered</em>
            <% else %>
                <% @lunches.each do |lunch| %>
                    <%= lunch.capitalize %>,
                <% end %>
            <% end %>
            <%= " @  #{@lunch_time}" %>
          
        </p>

        <p> Dinners: 
            <% if @dinners.blank? %> <em>None ordered</em>
            <% else %>
                <% @dinners.each do |dinner| %>
                    <%= dinner.capitalize %>,<% end %>
            <% end %>
            <%= " @  #{@dinner_time}" %>
        </p>

        <p> Extra Notes:
            <% if @extra_notes.blank? %> <em>No notes</em>
            <% else %>
                <%= @extra_notes %>
            <% end %>
        </p>
        
    <%= link_to "Edit subscription", edit_subscription_path(@subscription) %>
    <% else %>
    <em>No subscription data</em>
    <% end %>

    <h3> Delivery address </h3> 
    <% if @address %>
      <%= "#{@address.first_name} #{@address.last_name}" %><br>
      <i class="fa fa-phone"></i>
      <% if @phone.blank? %>
        <em> Unprovided </em> &nbsp &nbsp
    <% else %>
      <%= " #{@phone}"  %> &nbsp &nbsp
    <% end %>
    <i class="fa fa-envelope"></i>
    <% if @address.email.blank? %>
        <em> Unprovided </em>
    <% else %>
      <%= " #{@address.email}"  %>
    <% end %><br><br>
      <%= "#{@address.street_address} #{@address.suite}" %><br>
      <%= "#{@address.city} #{@address.state} #{@address.zip}" %><br>
      <%= link_to "Edit address", edit_address_path(@address) %>
    <% else %>
      <em> No address defined </em><br><br>
      <%= link_to "Edit address", new_address_path %>

    <% end %>

    
  </div>
</div>